<footer role="contentinfo" class="footer-primary">
  <div class="container cf">
    <div class="cf">
      <div class="sitemap-menu grid-flex-container">
        <div class="grid-flex-cell">
          <ul class="sitemap list-unstyled">
            <li style="margin-bottom: 10px;" class="sitemap-head">тел. +375 (29) 556-15-08</li>
            <li>
              <div class="share-links">
                <ul class="share list-unstyled">
                  {{ range .Site.Params.social }}
                  <li style="margin: 0 5px;"><a class="{{ .title }}" href="{{ .link }}">{{ .title }}</a></li>
                  {{ end }}
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p style="color: #fff;" class="footer-copyright center">Бурачевская Тамара Владимировна, логопед "Многопрофильное учреждение обучения и
      развития "ЛОГОС"</p>
  </div>
</footer>