<section id="propducts">
  <div class="container">

    <!-- <h2 class="content-center">Products</h2> -->
    <div class="grid-flex-container">
      <div class="grid-flex-cell-1of2 products-cell">
        <img style="border-radius: 5px" src="/images/img1.jpg" />
      </div>

      <div class="grid-flex-cell-1of2 products-cell">
        <div style="text-align: justify; font-size: 16px">
          <p> Частный логопед в Минске поможет преодолеть речевые нарушения у старших дошкольников и детей младшего
            школьного возраста. Если Вы ещё не можете определиться с выбором учителя-дефектолога для Вашего малыша,
            смело обращайтесь к нам! Квалифицированный специалист предложит широкий спектр логопедических услуг по
            доступным ценам и поможет преодолеть речевые нарушения в кратчайшие сроки! Записаться на консультацию можно
            по номеру <br /> +375 29 556-15-08.</p>
        </div>
      </div>
    </div>

  </div>
</section>